service: edo-workflow-service
org: fatimapv

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  environment:
    EVENT_BUS_NAME: EdoOrderBus
  iam:
    role: arn:aws:iam::076456812464:role/LabRole

plugins:
  - serverless-step-functions

functions:
  updateOrderStep:
    handler: handler.update_order_step
    events:
      - http:
          path: orders/advance
          method: post
          cors: true

stepFunctions:
  stateMachines:
    EdoOrderWorkflow:
      name: EdoOrderWorkflow
      role: arn:aws:iam::076456812464:role/LabRole
      definition:
        StartAt: Start
        States:
          Start:
            Type: Pass
            Result: "Order Received"
            Next: WaitCocinero
            ResultPath: $.status
          
          WaitCocinero:
            Type: Task
            Resource: arn:aws:states:::events:putEvents.waitForTaskToken
            Parameters:
              Entries:
                - Detail:
                    taskToken.$: "$$.Task.Token"
                    orderId.$: "$.orderId"
                    tenantId.$: "$.tenantId"
                    status: "WAITING_COCINA"
                  DetailType: "OrderStep"
                  Source: "edo.orders"
                  EventBusName: !Ref EdoOrderBus
            Next: WaitEmpaquetado

          WaitEmpaquetado:
            Type: Task
            Resource: arn:aws:states:::events:putEvents.waitForTaskToken
            Parameters:
              Entries:
                - Detail:
                    taskToken.$: "$$.Task.Token"
                    orderId.$: "$.orderId"
                    tenantId.$: "$.tenantId"
                    status: "WAITING_EMPAQUETADO"
                  DetailType: "OrderStep"
                  Source: "edo.orders"
                  EventBusName: !Ref EdoOrderBus
            Next: WaitDelivery

          WaitDelivery:
            Type: Task
            Resource: arn:aws:states:::events:putEvents.waitForTaskToken
            Parameters:
              Entries:
                - Detail:
                    taskToken.$: "$$.Task.Token"
                    orderId.$: "$.orderId"
                    tenantId.$: "$.tenantId"
                    status: "WAITING_DELIVERY"
                  DetailType: "OrderStep"
                  Source: "edo.orders"
                  EventBusName: !Ref EdoOrderBus
            Next: Success

          Success:
            Type: Pass
            Result: "Order Completed"
            End: true

resources:
  Resources:
    EdoOrderBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: EdoOrderBus
