service: edo-mvp-service

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.9
  region: us-east-1
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::076456812464:role/LabRole

functions:
  createProduct:
    handler: handler.createProduct
    events:
      - http:
          path: products
          method: post
          cors: true

  getProducts:
    handler: handler.getProducts
    events:
      - http:
          path: products
          method: get
          cors: true

  createOrder:
    handler: handler.createOrder
    events:
      - http:
          path: orders
          method: post
          cors: true

  listOrders:
    handler: handler.listOrders
    events:
      - http:
          path: orders
          method: get
          cors: true

resources:
  Resources:
    EdoProductsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: EdoProductsTable
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    EdoOrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: EdoOrdersTable
        AttributeDefinitions:
          - AttributeName: orderId
            AttributeType: S
        KeySchema:
          - AttributeName: orderId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST